@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Star';
    src: url('/fonts/Vogue-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StarJedi';
    src: url('/fonts/Starjedi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* body {
  font-family: 'StarJedi', sans-serif;
} */

html, body, #root {
  height: 100%;
}

.border-starwars {
  position: relative;
  border: 1px solid #9f754c;
  padding: 1.5rem;
  background-color: #111;

  clip-path: polygon(
    12px 0%, 100% 0%, 100% 12px,
    100% calc(100% - 12px), calc(100% - 12px) 100%,
    0% 100%, 0% calc(100% - 12px), 0% 12px
  );
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.border-starwars:hover {
  border-color: #ffe91fc2;
  box-shadow: 0 0 8px #ffe81f;
}

/* Classe appliquée uniquement sur les écrans md et plus */
@media (min-width: 768px) {
  .border-starwars-md {
    position: relative;
    border: 1px solid #9f754c;
    padding: 1.5rem;
    background-color: #111;

    clip-path: polygon(
      12px 0%, 100% 0%, 100% 12px,
      100% calc(100% - 12px), calc(100% - 12px) 100%,
      0% 100%, 0% calc(100% - 12px), 0% 12px
    );
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .border-starwars-md:hover {
    border-color: #ffe91fc2;
    box-shadow: 0 0 8px #ffe81f;
  }
}



